@font-face {
    font-family: 'Brandey';
    src: url("/assets/fonts/Brandey-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

$font_1: 'Brandey';
$font_2: Arial, Helvetica, sans-serif;