@font-face {
    font-family: 'Brandey';
    src: url(/src/assets/fonts/Brandey-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

$font_1: 'Brandey';
$font_2: Arial, Helvetica, sans-serif;