@use "../abstracts" as *;

@include media-up(phone) {
    .popUp {
		display: flex;
        visibility: hidden;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100dvh;
		background-color: rgba(0, 0, 0, 0.903);
		z-index: 5;
        opacity: 0;
        transition: all 0.8s ease;

		&__image {
			width: 90%;
		}

        &__btn {
            position: absolute;
            background-image: url("/assets/extraIcons/close.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-color: transparent;
            width: 2.1875rem;
            height: 2.1875rem;
            top: 1.875rem;
            right: 1.25rem;
            border: none;
        }

		&.visible {
            visibility: visible;
			display: flex;
            opacity: 1;
            transition: all 0.8s ease;
		}
	}

    .imagesPage__title {
        font-size: 1.6875rem;
        color: white;
        text-align: center;
        margin-top: 6.5rem;
        margin-bottom: 2.5rem;
        padding: 0 1.25rem;
    }
    
	.imageSection {
		display: flex;
		flex-direction: column;
        margin-bottom: 5rem;

		/* &__title {
			color: white;
			font-family: $font_1;
            font-size: 1.5625rem;
            margin-left: 1.25rem;
		} */

		&__container {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            flex-wrap: wrap;
            gap: .625rem;

            &-image {
                height: 6.25rem;
            }
		}
	}
}

@include media-up(tablet) {
    .popUp {
        &__image {
            width: 70%;
        }
    }
}

@include media-up(desktop) {
    .popUp {
        &__image {
            width: auto;
            height: 90%;
        }
    }

    .imagesPage__title {
        font-size: 2.8rem;
    }

    .imageSection {
        margin-bottom: 10rem;
    }
}

